<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Sample Suite">
    <test name="Run Specific Method">
        <groups>
            <run>
                <include name="ggg"> </include>
            </run>
        </groups>
        <classes>
            <class name="Lambdas.LambdaExampleTest">
                <methods>
                    <include name="anonymousClass"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>